--indent 4
--maxwidth 120
--wraparguments before-first
--wrapcollections before-first
--semicolons never
--commas always
--trimwhitespace nonblank-lines
--typeattributes prev-line
--extensionacl on-declarations
--guardelse same-line
--indentcase true
--self remove
--selfrequired ignore
--ranges no-space
--ifdef no-indent
--importgrouping testable-first
--conflictmarkers reject
--swiftversion 5.9
